@font-face {
    font-family: OpenSans;
    src: url("/assets/fonts/OpenSans.ttf")
}
* {
    font-size: 10px;
    font-family: OpenSans
}
body {
    width: 100%;
}
.head {
    width: 100%;
    background-color:white;
    display: inline-block;
}
.head-logo {
    width: 32%;
    display: inline-block;
    float: left;
    &__image {
        padding: 2em 0em 0em 26.4em;
    }
}
.head-menu {
    width: 68%;
    display: inline-block;
    font-size: 1.3em;
    padding: 2em 0em 2em 0em;
    float: left;
    &__button {
        display: inline-block;
        border: 0.01em solid rgba(0, 0, 0, 0);
        background-color:  rgba(0, 0, 0, 0);
        font-size: 1.3em;
        text-decoration: none;
        padding: 1em 1.9em 0.8em 1.9em;
        color: rgb(110, 110, 110);
    }
    &__button:hover {
        background-color:  rgb(255, 187, 66);
        border-radius: 0.3em
    }
}
.dropdown-menu-checkbox{
    background-color:white;
    font-size: 1.3em;
    display: none;
    text-align: center;
    padding: 1em 1.9em 0.8em 1.9em;
    color: rgb(110, 110, 110);
}
.dropdown-menu-checkbox:hover {
    background-color:  rgb(255, 187, 66);
    border-radius: 0.3em
}
.blue {
    width: 100%;
    background-color:  rgb(112, 157, 202);
    &-head {
        width: 100%;   
        color: rgb(255, 255, 255);
        text-align: center;
        padding-top: 11em;
        & p {
            font-size: 1.6em;
            text-transform: uppercase;
            margin-top: 0em
        }
        & span{
            font-size: 3.5em;
            text-transform: uppercase;
            font-weight: bold
        }
    }
    &-input-block {
        width: 100%;
        &-form {
            width: 100%;
            display: inline-flex; 
            flex-direction: row;
            justify-content: center;
        }
    }
}
.blue-input {
    width: 28em;
    height: 4.7em;
    margin: 3.5em 1.1em 0em 0em;
    background-color: rgb(255, 255, 255);
    border: 0em;
    border-radius: 0.4em;
    &__img {    
        width: 15%;
        height: 100%;
        float: left;  
        &_img-wide {    
            width: 15%;
            height: 100%;
            float: left;  
            & img {
                width: 2em;
                height: 1.5em;
                padding: 1.5em 0em 0em 1.5em
            }
        }
        & img {
            width: 1.5em;
            height: 1.5em;
            padding: 1.5em 0em 0em 1.5em
        }
    }
    &__text {
        width: 80%;
        height: 100%;
        padding: 0em;
        font-size: 1.3em;
        color: rgb(110, 110, 110);
        background-color:  rgb(255, 255, 255);
        border: 0em;
        outline: none;
    }
}
.blue-button {
    width: 21.2em;
    height: 4.7em; 
    margin: 3.5em 1.1em 0em 0em;
    border: 0em;
    border-radius: 0.4em;
    &__button {
        width: 100%;
        height: 100%;
        font-size: 1.4em;
        text-align: center;
        text-transform: uppercase;
        outline: none;
        border: 0em;
        color: white;
        background-color: rgb(255, 187, 66);
        border-radius: 0.2em
    }
}
.laptop {
    width: 100%;
    background-color:  rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    &-img {
        width: 64.8em;
        height: 34.4em;
        margin-top: 7em
    }
}
.services {
    width: 100%;
    &-head {
        width: 100%;
        color: rgb(57, 75, 80);
        text-align: center;
        padding-top: 13em;
        padding-bottom: 9em;
        & p {
            font-size: 1.6em; 
            margin-top: 0em
        }
        & span {
            font-size: 3em; 
            text-transform: uppercase; 
            font-weight: bold  
        }
    }
    &-block {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0em 10em 7em 10em;
        &-item {
            width: 56em;
            height: 17.5em;
            &__img {    
                width: 7.3%;
                height: 100%;
                float: left;
                margin-right: 3.4em
            }
            &__text p {
                font-size: 1.3em;
                color: rgb(123, 123, 123);
                padding-right: 11.55em;
                line-height: 1.5em
            }
            &__text span {
                font-size: 1.6em;
                color: rgb(57, 75, 80);
                text-transform: uppercase;
            }
        }
    }
}
.yellow {
    width: 100%;
    display: inline-flex;
    background-color:  rgb(255, 193, 85);
    &-image {
        width: 50%;
        & img {
            width: 100%;
            height: 100%;
        }
    }
    &-text {
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        align-content: center
    }
    &-head {
        width: 100%;
        padding: 0em 20em 0em 10em;
        color: rgb(255, 255, 255);
        & span {
            font-size: 3em;
            text-transform: uppercase;
            font-weight: bold;
        }
        & p {
            font-size: 1.3em;
            line-height: 2em
        }
    }
    &-button {
        width: 14.5em;
        height: 4.5em;
        margin-top: 4em;
        padding-left: 10em;
        &__button {
            width: 100%;
            height: 100%;
            font-size: 1.4em;
            background-color:  rgb(255, 193, 85);
            outline: none;
            color: rgb(255, 255, 255);
            border: 0.1em solid  rgb(245, 168, 50);
        }
        &__button:hover {
            background-color: rgb(245, 168, 50)
        }
    }
}
.grey {
    width: 100%;
    background-color:  rgb(231, 237, 243);
    display: block;
    &-head {
        width: 100%;
        text-align: center;
        padding-top: 13.5em;
        color: rgb(57, 75, 80);
        & p {
            font-size: 1.8em;
            margin-top: 0em
        }
        & span {
            font-size: 3em;
            text-transform: uppercase;
            font-weight: bold
        }
    }
    &-block {
        width: 100%;
        display: flex;
        justify-content: center;
        &-item {
            width: 39em;
            height: 44em;
            background-color:  rgb(255, 255, 255);
            float: left;
            margin-top: 3em;
            margin-bottom: 10em;
            border: 0.1em solid  rgba(129, 139, 149, 0.5);
        }
        &-item:hover {
            background-color:  rgb(112, 157, 202);
            margin-top: 0em;
            padding-top: 3em;
            margin-bottom: 0em;
            height: 47em;
        }
        &-item:hover .grey-block__text p {
            color:  rgb(255, 255, 255)
        }
        &-item:hover .grey-block__text span {
            color:  rgb(255, 255, 255)
        }
        &-item:hover .price {
            color:  rgb(255, 255, 255)
        }
        &-item:hover .price sup {
            color:  rgb(255, 255, 255)
        }
        &-item:hover .grey-block__table .table {
            color:  rgb(255, 255, 255);
            border-top: 0.05em solid rgba(255, 255, 255, 0.85);
        }
        &__text {
            text-align: center;
            margin-top: 5.4em;
            color: rgb(129, 139, 149);
            & p {
                font-size: 2em;
                text-transform: uppercase;
                line-height: 0em
            }
            & span {
                font-size: 2.5em;
                text-transform: uppercase;   
            }
            .price {
                font-size: 6em;
                color: rgb(255, 187, 66);
                margin-top: 0.3em;
                line-height: 0.5em;
                & sup {
                    font-size: 0.55em;
                }
            }
        }
        &__table {
            width: 85%;
            text-align: center;
            font-size: 1.35em;
            text-transform: uppercase;
            color: rgba(181, 187, 193, 0.85);
            margin: 3em auto 0em auto;
            &-text {
                width: 100%;
                align-content: center
            }
            .table {
                border-top: 0.05em solid rgba(181, 187, 193, 0.85);
                padding: 1em;
                font-size: 1.35em;  
            }
        }
        &-button {
            width: 13em;
            height: 4em;
            outline: none;
            margin: 1.5em auto 1.5em auto;
            &__button {
                width: 100%;
                height: 100%;
                background-color: rgb(255, 187, 66);
                color:  rgb(255, 255, 255);
                font-size: 1.4em;
                text-transform: uppercase;
                border: 0.1em solid  rgb(255, 187, 66); 
            }
            &__button:hover {
                background-color:  rgb(245, 168, 50);
            }
        }
    }
}
.how {
    width: 100%;
    background-color:  rgb(255, 255, 255);
    &-head {
        width: 100%;
        text-align: center;
        padding-top: 15.5em;
        color: rgb(57, 75, 80);
        & p {
            font-size: 1.8em;
            margin-top: 0em;
        }
        & span {
            font-size: 3em;
            text-transform: uppercase;
            font-weight: bold
        }
    }
    &-image {
        display: flex;
        justify-content: center;
        margin: 7em 0em 7em 0em;
        &-img {
            width: 97em;
            width: initial; 
            height: initial
        }
    }
    &-step {    
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        margin-bottom: 10em;
        &-item {
            width: 17%; 
            padding-top: 4.46em;
            float: left;
            flex-shrink: 1;
            &__image {
                width: 100%; 
                height: 35%;
                display: flex;
                justify-content: center;
                align-items: center
            }
            &__text {
                width: 100%; 
                height: 50%;
                text-align: center;
                padding-top: 5em;
                & p {
                    font-size: 1.3em;   
                    padding-left: 3.07em;
                    color: rgba(57, 75, 80, 0.7);
                    padding-right: 3.07em
                }
                & span {
                    font-size: 2em;
                    text-transform: uppercase;
                    color: rgb(57, 75, 80);
                }
            }
        }
        .arrow1, .arrow2 {
            flex-shrink: 10
        }
        .arrow1-img {
            padding-top: 4em;
        }
        .arrow2-img {
            padding-top: 14em;
        }
    }
    &-button {
        width: 100%;
        margin: 0em 0em 14em 0em;
        display: flex;
        justify-content: center;
        &__button{
            width: 11.8em;
            height: 3.3em;
            background-color: rgb(255, 187, 66);
            color:  rgb(255, 255, 255);
            font-size: 1.4em;
            text-transform: uppercase;
            outline: none;
            border: 0.1em solid  rgb(255, 187, 66); 
            border-radius: 0.2em
        }
    }
}
.happy-clients {
    width: 100%;
    background-color: rgb(255, 193, 85);
    &-head {
        width: 100%;
        padding-top: 14.2em;
        text-align: center;
        color: rgb(255, 255, 255);
        & p {
            font-size: 1.8em;
            margin-top: 0em
        }
        & span {
            font-size: 3em;
            text-transform: uppercase;
            font-weight: bold
        }
    }
    &-block {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 5em 0em 7em 0em;
        &-item {
            width: 57em;
            height: 24em;
            background-color: rgb(255, 255, 255);
            margin: 0em 3.5em 2em 0em;
            border-radius: 0.3em;
            float: left;
            &__image {
                width: 28%;
                height: 100%;
                float: left;
                & img {
                    padding: 4.5em 0em 0em 3em
                }
            }
            &__text {
                width: 70%;
                height: 100%;
                float: left;
                & span {
                    display: inline;
                    font-size: 1.4em;
                    color: rgb(246, 119, 44);
                    padding: 2.15em 0em 0em 1.8em;
                    text-transform: uppercase;
                }
            }
            &__text1 {
                font-size: 1.3em;
                color: rgb(123, 123, 123);
                padding: 3.5em 6em 0em 2em;
                margin-top: 0em;
                line-height: 1.7em
            }
            &__text2 {
                display: inline;
                font-size: 1.4em;
                color: rgb(123, 123, 123);
                padding: 2.15em 0em 0em 0em;
                text-transform: uppercase;
            }
        }
    }
}
.newsletter {
    width: 100%;
    background-color: rgb(255, 255, 255);
    &-head {
        width: 100%;
        padding: 15em 0em 3em 0em;
        color: rgb(57, 75, 80);
        text-align: center;
        & p {
            font-size: 1.8em;
            margin-top: 0em
        }
        & span {
            font-size: 3em;
            text-transform: uppercase;
            font-weight: bold
        }
    }
    &-input {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 3em;
        &-item1 {
            width: 31em;
            height: 5em;
            border: 0.1em solid  rgb(203, 203, 203);
            float: left;
            border-radius: 0.4em;
            margin-right: 1.1em;
            &__image {
                width: 15%;
                height: 100%;
                float: left;
                & img {
                    width: 1.5em;
                    height: 1.5em;
                    padding: 1.5em 0em 0em 1.5em
                }
            }
            &__text {
                width: auto;
                height: 90%;
                font-size: 1.3em;
                color: rgb(203, 203, 203);
                outline: none;
                border: 0em;
                margin-top: 0.1em
            }
        }
        &-item2 {
            width: 34em;
            height: 5em;
            border: 0.1em solid  rgb(203, 203, 203);
            float: left;
            border-radius: 0.4em;
            margin-right: 1.1em;
            &__image {
                width: 15%;
                height: 100%;
                float: left;
                & img {
                    width: 2em;
                    height: 1.5em;
                    padding: 1.5em 0em 0em 1.5em
                }
            }
        }
        &-item3 {
            width: 22em;
            height: 5em;
            float: left;
            &__text {
                width: 100%;
                height: 100%;
                font-size: 1.4em;
                text-align: center;
                background-color: rgb(255, 193, 85);
                color: rgb(255, 255, 255);
                text-transform: uppercase;
                padding: 0em;
                border: 0em;
                border-radius: 0.2em;
            }
        }
    }
    .map-adress {
        display: flex;
        justify-content: center;
        padding-bottom: 15em;
        .map {
            position: absolute;
            &-img {
                width: 100% 
            }
        }
        .adress {
            position: relative;
            padding-top: 4.5em;
        }
    }
    .bottom-menu-nav { 
        padding-top: 7em;
        display: flex;
        justify-content: center;
        .bottom-menu__button {
            width: auto;
            border: 0.01em solid rgba(0, 0, 0, 0);
            background-color:  rgba(0, 0, 0, 0);
            font-size: 1.3em;
            padding: 1em 1.5em 1em 1.5em;
            color: rgb(110, 110, 110);
            text-transform: uppercase;
            &:hover {
                background-color:  rgb(255, 187, 66);
                border-radius: 0.3em
            }
        }    
    }
    .bottom-phone {
        text-align: center;
        margin: 1em 0em 2em 0em;
        &__image {
            margin-right: 1em
        }
        & p {
            font-size: 2.252em;
            display: inline;
            color: rgb(57, 75, 80);
        }
    }
    .bottom-icons {
        text-align: center;
        margin-bottom: 5em
    }
}
.footer {
    width: 100%;
    background-color: rgb(112, 157, 202);
    text-align: center;
    & p{
        font-size: 1.3em;
        color: rgb(255, 255, 255);
        padding: 1em 0em 1em 0em;
    }
}
@media screen and (max-width: 1500px) {
    .services-block {
        margin: 0em 5em 7em 5em
    }
    .services-block-item {
        width: 54em
    }
}
@media screen and (max-width: 1400px) {
    .happy-clients-block {
        margin: 0em 2.5em 0em 6em; 
        padding-bottom: 3em}
    .happy-clients-block-item {
        width: 50em;}
    .yellow-head {
        padding: 0em 10em 0em 10em}
}
@media screen and (max-width: 1200px) {
    .head-logo {
        width: 10%; 
        display: flex; 
        justify-content: center}
    .head-logo__image {
        padding: 0em}
    .head-menu {
        width: 90%; 
        padding-top: 1em; 
        text-align: right}
    .head-menu__button {
        font-size: 1.3em; 
        border: none}
    .head-menu label.dropdown-menu-checkbox {
        display: none}
    nav>a { 
        display: inline-block; }
    input.dropdown-menu-checkbox:checked ~ nav>a {
        display: inline-block;}
    .head-menu__button {
        text-align: center; 
        font-size: 1.4em; 
        border-bottom: 0.02em solid rgba(110, 110, 110, 0.2);}
    .head-menu nav a {
        padding: 1em 1.5em 1em 1.5em; 
        font-size: 1.3em}
    .blue-head {
        padding-top: 8em}
    .blue-input-block {
        width: 98%; 
        margin: 0em 1em 0em 1em}
    .blue-input {
        width: 25em}
    .blue-button {
        width: 19em}
    .services-head {
        padding: 8em 0em 5em 0em}
    .services-block-item {
        width: 38em}
    .services-block-item__text p {
        padding-right: 5em}
    .yellow-head { 
        padding: 0em 5em 0em 5em}
    .yellow-head span {
        font-size: 2.5em;}        
    .yellow-head p {
        font-size: 1.2em;
        line-height: 1.7em}
    .yellow-button {
        margin-top: 2em; 
        padding-left: 5em}
    .grey-head {
        padding-top: 8em}
    .grey-block-item {
        width: 35em}
    .grey-block-button {
        margin-right: auto; 
        margin-left: auto}
    .how-head {
        padding-top: 8em}
    .how-image {
        width: 80%; 
        margin: 2em auto 2em auto}
    .how-step {
        padding-right: 2em; 
        padding-left: 2em}
    .arrow1, .arrow2 {
        transform: scale(0.9)}
    .how-step-item {
        width: 16%}
    .how-step-item__text p {
        padding: 0em}
    .happy-clients-head {
        padding-top: 8em}
    .happy-clients-block {
        width: auto; 
        padding-top: 1em; 
        padding-bottom: 3em; 
        margin-left: 4em; 
        margin-top: 2em}
    .happy-clients-block-item {
        width: 37em;
        height: 30em}
    .happy-clients-block-item__image {
        width: 40%}
    .happy-clients-block-item__image img {
        padding: 5.8em 0em 0em 2em}
    .happy-clients-block-item__text {
        width: 60%}
    .happy-clients-block-item__text1 {
        padding: 1em 2em 0em 0em}
    .happy-clients-block-item__text span {
        padding-left: 0em }
    .newsletter-head {
        padding-top: 8em; 
        padding-bottom: 2em}
    .bottom-menu-nav {
        padding-top: 1em}
    .footer p {
        padding: 1.3em}
}
@media screen and (max-width: 1100px) {
    how-step-item__text p {
        padding: 0em 1em 0em 1em;
    }
}
@media screen and (max-width: 1000px) {
    .newsletter-input-item1, .newsletter-input-item2 {
        width: 25em}
    .newsletter-input-item3 {
        width: 19em}
    .map-adress {
        padding-bottom: 10em
    }
}
@media screen and (max-width: 900px) {
    .head-logo {
        width: 100%; 
        text-align: center}
    .head-menu {
        width: 100%; 
        text-align: center; 
        padding: 1em 0em 1em 0em}
    .blue-head {
        padding-top: 6em}
    .blue-input-block-form {
        flex-wrap: wrap}
    .blue-input {
        width: 22em; 
        margin: 2em 1.1em 0em 0em}
    .blue-button {
        margin-top: 2em}
    .blue-input__img_img-wide {
        width: 18%}
    .laptop-img {
        margin-top: 3em}
    .services-head {
        padding: 6em 0em 3em 0em}
    .services-block {
        margin: 0em 5em 0em 5em}
    .services-block-item {
        width: 34em}
    .yellow-image {
        display: none}
    .yellow-text {
        width: 100%;
        justify-content: center}
    .yellow-head {
        width: 100%; 
        text-align: center; 
        padding: 5em 10em 0em 10em}
    .yellow-button {
        padding: 0em 0em 3em 0em}
    .grey-head {
        padding-top: 6em}
    .grey-block-item {
        height: 40em; 
        margin-bottom: 4em}
    .grey-block-item:hover {
        height: 43em}
    .grey-block__text {
        margin-top: 3em}
    .how-head {
        padding-top: 6em}
    .how-step {
        margin-bottom: 5em}
    .arrow1, .arrow2 {
        display: none};
    .how-step-item {
        width: 20%; 
        margin-right: 3em}
    .how-button {
        margin: 0em 0em 5em 0em}
    .happy-clients-head {
        padding-top: 6em}
    .happy-clients-block {
        margin-right: 0em}
    .happy-clients-block-item {
        height: 28em;}
    .newsletter-head {
        padding-top: 6em}
    .newsletter-input-item1, .newsletter-input-item2 {
        width: 23em}
    .newsletter-input-item1__image, .newsletter-input-item2__image {
        width: 20%} 
    .newsletter .map-adress {
        padding-bottom: 5em}
    .adress {
        transform: scale(0.8)}
}
@media screen and (max-width: 875px) {
    .happy-clients-block-item {
        width: 50em; 
        height: max-content}
    .happy-clients-block-item__image {
        width: 35%}
    .happy-clients-block-item__image img {
        width: 70%; 
        height: 70%; 
        padding: 2em 0em 0em 2em}
    .happy-clients-block-item__text {
        width: 65%; 
        font-size: 1.1em; 
        margin-bottom: 1em}
}
@media screen and (max-width: 805px) {
    .head-logo {
        width: 100%; 
        text-align: center}
    .head-menu {
        width: 100%; 
        display: flex; 
        justify-content: center; 
        padding: 1em 0em 1em 0em}
    .head-menu-nav {
        width: 66%}
}
@media screen and (max-width: 800px) {
    .services-block-item {
        width: 50em;  }
    .services-block-item__img {
        width: 10%}
    .services-block-item__text {
        font-size: 1.1em}
    .yellow-head {
        font-size: 1.1em;
        padding: 5em 7em 0em 7em}
}
@media screen and (max-width: 750px) {
    .laptop {
        display: none}
    .blue-input-block-form {
        flex-direction: column}
    .blue-input {
        width: 30em; 
        margin: 2em 0em 0em 0em; 
        align-self: center}
    .blue-button {
        margin: 4em 0em 3em 0em; 
        align-self: center}
    .bottom-menu {
        width: 100%; 
        display: flex; 
        justify-content: center; 
        padding: 1em 0em 1em 0em}
    .bottom-menu-nav {
        width: 65%; 
        display: flex; 
        flex-wrap: wrap;}
    .newsletter-input {
        flex-direction: column}
    .newsletter-input-item1 {
        width: 30em; 
        margin: 0em 0em 0em 0em; 
        align-self: center}
    .newsletter-input-item2 {
        width: 30em; 
        margin: 2em 0em 0em 0em; 
        align-self: center}
    .newsletter-input-item3 {
        margin: 4em 0em 3em 0em; 
        align-self: center}
}
@media screen and (max-width: 705px) {
    .grey-block__table-text .table {
        padding: 0.7em}
    .newsletter .map-adress {
        padding-bottom: 1em}
    .adress {
        padding-top: 0em}
}
@media screen and (max-width: 650px) {
    .grey-head {
        width: 100%; 
        height: auto; 
        padding-top: 3em; }
    .grey-head span {
        font-size: 3em}
    .grey-head p {
        font-size: 1.4em; 
        padding-left: 2em; 
        padding-right: 2em}
    .grey-block {
        flex-direction: column}
    .grey-block-item {
        width: 50em; 
        height: 24em; 
        display: flex; 
        flex-wrap: wrap; 
        margin: 0em; 
        align-self: center}
    .grey-block-item:last-child {
        margin-bottom: 2em}
    .grey-block-button {
        align-self: center}
    .grey-block-item:hover {
        width: 50em; 
        height: 24em; 
        padding-top: 0em}
    .grey-block__text {
        width: 50%; 
        margin: 4em 0em 0em 0em; 
        float: left}
    .grey-block-item:hover .grey-block__text {
        margin-top: 4em}
    .grey-block-item:hover .grey-block__text span {
        margin-top: 0em}
    .price {
        margin-top: 0em}
    .grey-block__table {
        width: 50%; 
        margin: 3em 0em 0em 0em; 
        font-size: 1.2em; 
        float: left; }
    .grey-block__table .table {
        border-top: none; 
        border-bottom: 0.05em solid rgba(181, 187, 193, 0.85);}
    .grey-block-item:hover .grey-block__table .table {
        border-top: none; 
        border-bottom: 0.05em solid rgba(255, 255, 255, 0.85);}
    .adress {
        transform: scale(0.7)}
}
@media screen and (max-width: 630px) {
    .head-menu-nav {
        width: 80%}
    .bottom-menu-nav {
        width: 80%}
    .how-step {
        flex-wrap: wrap}
    .how-step-item {
        width: 40%}
}
@media screen and (max-width: 520px) {
    .head-menu-nav {
        width: 100%};
    .head-menu-nav a {
        font-size: 1.2em
    }
}
@media screen and (max-width: 500px) {
    .grey-block {
        flex-direction: column}
    .grey-block-item {
        width: 35em; 
        height: 24em; 
        margin: 0em}
    .grey-block-item:hover {
        width: 35em; 
        height: 24em; 
        padding-top: 0em}
    .grey-block__text {
        width: 50%; 
        margin: 4em 0em 0em 0em; 
        float: left; 
        font-size: 0.9em}
    .grey-block-item:hover .grey-block__text {
        margin-top: 3em}
    .grey-block-item:hover .grey-block__text span {
        margin-top: 0em}
    .price {
        margin-top: 0em}
    .grey-block__table {
        width: 50%; 
        margin: 2.5em 0em 0em 0em; 
        font-size: 1.2em; 
        float: left}
    .table {
        padding: 0.7em}
}
@media screen and (max-width: 480px) {
    .head-menu-nav {
        width: 100%}
    .bottom-menu-nav {
        width: 100%}
    .services-block {
        margin: 0em 3em 0em 3em}
    .services-block-item__text p {
        padding-right: 2em}
    .happy-clients-block {
        margin: 0em; 
        padding-top: 2em; 
        padding-bottom: 4em}
    .happy-clients-block-item {
        width: 90%; 
        margin-right: 0em; 
        height: max-content}
    .happy-clients-block-item__image img {
        width:80%; 
        height: auto; 
        padding: 2em 0em 0em 1em} 
    .happy-clients-block-item__text1 {
        padding: 1em 0.7em 0em 0em; 
        font-size: 1.25em; 
        line-height: 1.4em}
    .happy-clients-block-item__text {
        padding-bottom: 1em}
}
@media screen and (max-width: 420px) {
    .head-logo {
        width: 100%; 
        float: none; 
        display: flex; 
        justify-content: center}
    .head-logo__image {
        padding: 0em; 
        margin: 0em }
    .head-menu {
        width: 100%; 
        padding: 1em 0em 1em 0em; 
        display: block}
    .head-menu label.dropdown-menu-checkbox {
        display: block}
    .head-menu nav>a { 
        display: none; }
    input.dropdown-menu-checkbox:checked ~ nav>a {
        display: block;}
    .head-menu__button {
        text-align: center; 
        font-size: 1.4em; 
        border-bottom: 0.02em solid rgba(110, 110, 110, 0.2);}
    .blue-head {
        padding-top: 3em}
    .blue-head span {
        font-size: 3em}
    .blue-head p {
        font-size: 1.4em; 
        padding-left: 2em; 
        padding-right: 2em; 
        margin-top: 1em}
    .blue-input-block-form {
        padding-top: 1em; 
        display: flex; 
        flex-direction: column; 
        align-items: center}
    .blue-input {
        margin: 0em 0em 2em 0em}
    .blue-button {
        margin: 2em 0em 2em 0em}
    .laptop {
        display: none}
    .services-head {
        padding: 3em 0em 2em 0em}
    .services-head span {
        font-size: 3em}
    .services-head p {
        font-size: 1.4em; 
        padding-left: 2em; 
        padding-right: 2em}
    .services-block {
        margin-left: 2em}
    .services-block-item__img {
        width: 9%; 
        height: 100%; 
        float: left}
    .services-block-item {
        width: 100%; 
        height: 15em; 
        margin-bottom: 2em}
    .services-block-item p {
        padding-right: 2em}
    .yellow-image {
        display: none}
    .yellow-text {
        width: 100%}
    .yellow-head {
        width: 75%; 
        height: auto; 
        padding: 2em 4em 0em 4em; 
        margin: 0em}
    .yellow-head p {
        line-height: 1.5em}
    .yellow-button {
        margin: 1em 0em 3em 0em; 
        padding: 0em}
    .yellow-button:hover {
        margin: 3em 0em 4em 4em}
    .grey-head {
        width: 100%; 
        height: auto; 
        padding-top: 3em; }
    .grey-head span {
        font-size: 3em}
    .grey-head p {
        font-size: 1.4em; 
        padding-left: 2em; 
        padding-right: 2em}
    .how-head {
        width: 100%; 
        height: auto; 
        padding-top: 3em; }
    .how-head span {
        font-size: 3em}
    .how-head p {
        font-size: 1.4em; 
        padding-left: 2em; 
        padding-right: 2em}
    .arrow1, .arrow2 {
        display: none}
    .how-image {
        display: none}
    .how-step {
        flex-direction: column; 
        margin-bottom: 2em; 
        padding: 0em}
    .how-step-item {
        margin-left: 2em;
        width: 90%; 
        padding-top: 1em}
    .how-step-item p {
        padding-left: 0em; 
        padding-right: 0em}
    .how-step-item__image {
        transform: scale(0.9)}
    .how-step-item__text {
        padding-top: 1em}
    .how-button {
        margin-bottom: 3em}
    .happy-clients-head {
        padding-top: 3em}
    .happy-clients-head span {
        font-size: 3em}
    .happy-clients-head p {
        font-size: 1.4em; 
        padding-left: 2em; 
        adding-right: 2em}
    .happy-clients-block {
        margin: 0em; 
        padding-top: 2em; 
        padding-bottom: 4em}
    .happy-clients-block-item {
        width: 90%; 
        margin-right: 0em; 
        height: max-content}
    .happy-clients-block-item__image img {
        width:80%; 
        height: auto; 
        padding: 2em 0em 0em 1em} 
    .happy-clients-block-item__text1 {
        padding: 1em 0.7em 0em 0em; 
        font-size: 1.25em; 
        line-height: 1.4em}
    .happy-clients-block-item__text {
        padding-bottom: 1em}
    .newsletter-head {
        padding-top: 3em; 
        padding-bottom: 0em}
    .newsletter-head span {
        font-size: 3em}
    .newsletter-head p {
        font-size: 1.4em; 
        padding-left: 2em; 
        padding-right: 2em}
    .newsletter-input {
        flex-direction: column; 
        align-items: center; 
        width: 100%; 
        margin-bottom: 0em}
    .newsletter-input-item1, .newsletter-input-item2 {
        width: 30em; 
        margin-top: 2em}
    .newsletter-input-item3 {
        margin: 3em 0em 0em 0em}
    .newsletter .map-adress {
        padding-bottom: 0em}
    .map {
        display: none}
    .bottom-menu-nav {
        flex-wrap: wrap; 
        padding-top: 0em}
    .bottom-menu__button {
        text-align: center; 
        font-size: 1.4em}
    .bottom-icons {
        margin-bottom: 4em}
}